body{
    display: flex;
    justify-content: center;
    background-color: silver
}

#wrapperDiv{
    margin-top:5%;
    border:4px groove gray;
    width:80vw;
    height:80vh;
    background-color: rgb(37, 44, 42);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    font-size:x-large;
}